
.detail-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #ffffff;

  .back-icon {
    width: 48px;
    height: 48px;
    margin-top: 130px;
    margin-left: 40px;
  }

  .weather-img {
    position: absolute;
    top: 78px;
    right: 32px;
    width: 200px;
    height: 200px;
  }

  .detail-header {
    margin-top: 88px;
    padding-left: 40px;
    
    .header-title {
      margin-bottom: 60px;
      font-weight: 700;
      font-size: 60px;
      line-height: 72px;
      color: #332821;
    }
  }

  .info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 40px;

    .info-icon {
      display: flex;
      align-items: center;
      height: 68px;
      padding: 0 30px;
      border-radius: 40px;

      .icon-img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }

      .icon-text {
        font-weight: 700;
        font-size: 28px;
      }
    }
  }

  .title-text {
    margin: 40px 40px 20px 40px;
    font-weight: 700;
    font-size: 36px;
    color: #332821;
  }
}