
.weather-temp {
  display: flex;
  align-items: flex-start;
  color: #332821;

  .temp-val {
    font-weight: 700;
  }

  .temp-unit {
    font-weight: 500;
  }

  .temp-val-large {
    font-size: 192px;
    line-height: 192px;
  }
  .temp-unit-large {
    margin-top: 20px;
    font-size: 48px;
    line-height: 48px;
  }

  .temp-val-medium {
    font-size: 128px;
    line-height: 128px;
  }
  .temp-unit-medium {
    margin-top: 16px;
    font-size: 28px;
    line-height: 28px;
  }

  .temp-val-small {
    font-size: 72px;
    line-height: 72px;
  }
  .temp-unit-small {
    margin-top: 10px;
    font-size: 26px;
    line-height: 26px;
  }
}